.pageHeader {
    width: 300px;
    border: 2px solid;
    background-color: coral;
    padding: 1em;
    margin: 30px;
    text-align: center;
    
}

.fish-image {
    width: 150px;
    height: 150px;
}

.collection {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: center;
}
.fish-properties {
    padding: 1em;
    margin: 0.5em;
}

.fish-collection {
    border: 1px dotted crimson;
    padding: 1em;
    margin: 0.5em;
}

.location-tips {
    border: 1px solid yellowgreen;
    padding: 1em;
    margin: 0.5em;
}

.travel-tips {
    border: 1px solid orange;
    padding: 1em;
    margin: 0.5em;
    width: 300;
    
}

.entire-page {
    display: flex;
    flex-wrap: wrap;
}

.locations {
    border: 2px solid;
    padding: 1em;
    margin: 0.5em;
}

.martins-tips {
    border: 1px dotted teal;
    padding: 1em;
    margin: 0.5em;
}